<!-- <div *ngIf="currItem">
ID: {{currItem.id}}, Name: {{currItem.name}}
</div>

<div *ngFor="let elem of items; let i = index" >Item {{i+1}}: {{elem.id}}, {{elem.name}}</div>

<div>
    <input type="radio" name="colors" (click)="color='lightgreen'">Green
    <input type="radio" name="colors" (click)="color='yellow'">Yellow
    <input type="radio" name="colors" (click)="color='cyan'">Cyan
  </div>

<div [appHighlight]="color">Testing manual directive</div>
<div *appUnless="false">Testing structural directive</div>

<p [appAddClass]="'testCustomClass'">Hello World!!!</p>
<p [appAddClass]="'testCustomClass2'">Hello World!!!</p>
<p>Hello World!!!</p> -->

<h1>Items Works!!!</h1>